QPushButton#cam_scan_btn:hover, 
QPushButton#manual_entry_btn:hover {{
    background-color: {THEME_COLOR};
    border:none;
    color:none;
}}

QPushButton#cam_scan_btn:pressed, 
QPushButton#manual_entry_btn:pressed {{
    background-color: {PRESSED_BG_COLOR};
    border:none;
    color:white;
}}